*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    

$colorWhite: #ffffff
$colorBlack: #000000

body
    background: $colorBlack

    .header
      padding-top: 60px
    .header_mainPhoto
        max-width: 700px 
        max-height: 550px    



.block_icon
    display: flex
    justify-content: space-around
   

.icon_intel
    display: flex
    align-items: center
    .processor_desk
        color: $colorWhite
        font-weight: bold
        font-size: 20px
        margin-right: 15px
   

        .buy
            color: $colorWhite
            &:hover
                transition: all .5s ease
                color: #FA7E40FF

    
.desk_answer
    margin-top: 40px


.answer
    font-family: 'Stalinist One', cursive
    text-transform: uppercase
    color: $colorWhite
    font-size: 40px
    text-align: center


.text_desc
    color: $colorWhite
    text-align: center
    .text_title
        font-family: 'Stalinist One', cursive
    
    p
        margin-top: 20px
        a
            color: $colorWhite
            font-weight: bold
            &:hover
                transition: all .5s ease
                color: #FA7E40FF

.wraper_content
    margin-top: 30px
    .icons
        margin-top: 30px
        max-width: 300px
    .photo_block
       max-height: 100px
    .BG_table
       height: 10%

    .wraper_text
        color: $colorWhite
        text-align: center
        h2
             font-family: 'Stalinist One', cursive
             margin-bottom: 20px
             font-weight: normal
    .block_tablePhoto
        text-align: center

.monitor
    color: $colorWhite
    font-family: 'Stalinist One', cursive
    padding: 100px 0px
    .wraper_carts
        display: flex
        align-items: center
        justify-content: center
        .cart
            margin-left: 30px
            text-align: center
           
            
            .block_button
                margin-top: 20px
               
                .bay
                    margin: 50px
                    
                .bay_link
                    padding: 10px 72px
                    border: 2px solid $colorWhite
                    color: $colorWhite
                    text-decoration: none
                    margin-bottom: 20px
                    &:hover
                        background: #BD3217FF

                .registr_link
                    padding: 10px 32px
                    border: 2px solid red
                    color: $colorWhite
                    text-decoration: none
                    margin-bottom: 20px
                    &:hover
                        background: #BD3217FF

.first_ficha
    color: $colorWhite
    margin-right: 30px
.wraper_second
    color: $colorWhite
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 60px
//.wraper_third
 //   display: flex
  //  color: $colorWhite
.second_txt
    margin-left: 40px

    .first_title
        font-size: 20px
        font-family: 'Stalinist One', cursive
        margin-bottom: 20px
    .first_desck
        font-size: 20px
.wraper_first
    display: flex
    justify-content: center


                    


   
   
    


  
    
        
    
   
    
    
            

